.profile{
    grid-area: profile;
    margin-left: auto;
    margin-right: auto;
    color: blue;
}

.profile img{
    height: 100px;
    border-radius: 100%;
    margin-left: 20px;
}

.options{
    grid-area: options;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.options ul{
    margin: 20px auto;
}

.options li{
    margin-bottom: 1.5em;
    margin-right: 10px;
}

.chat{
    grid-area: chat;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    width: 80%;
}

.chat h2{
    text-align: center;
    margin: 10px;
    font-size: 30px;
}

.chat img{
    height: 40px;
    border-radius: 100%;
    margin-left: 20px;
}

.chatperson{
    margin: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.chatperson h4, p{
    margin: 10px;
}

main{
    margin: 40px;
    display: grid;
    align-content: space-between;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "profile chat"
        "options chat";
}

@media (max-width: 800px){
    main{
        grid-template-columns: 1fr;
        grid-template-areas:
        "profile"
        "options"
        "chat";
    }
}