/* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

/* Navigation */

  nav {
    background: #F2F2F2;
    padding: 5px 20px;
  }
  ul {
    list-style-type: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .logo img{
    height: 4em;
    margin-left: 10%;
  }

  .menu li {
    font-size: 24px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }

  .menu input{
    background: none;
    border: none;
    border-bottom: 2px solid #1D2540;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 200px;
}

.menu input:focus{
    outline: none;
}
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-right: 7%;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: black;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* NAV Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }

    .button a {
        padding: 6px 20px;
        background: #020659;
        color: white;
        border: 3px solid #020659;
        border-radius:16px;
    }

    .button a:hover {
        color: #020659;
        background: white;
        cursor: pointer;
        text-decoration: none;
    }

    button:focus{
        outline: none;
    }

    .cart a{
        padding: 0;
        background: none;
        color: black;
        border: none;
    }

    .cart a:hover{
        color: black;
        background: none;
    }
  }
  
  /* NAV Desktop menu */
  @media all and (min-width: 1000px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  }

/* Footer */

.footer-container{
    width: 100%;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer{
    width: 85%;
    color: #1D2540;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer ul{
    list-style: none;
}

footer ul li{
    padding-top: 10px;
}

footer p{
    display: flex;
    align-self: center;
}

footer a{
    text-decoration: none;
    color: #1D2540;
}

footer a:hover{
    border-bottom: 1px solid #1D2540;
    cursor: pointer;
}


/* FOOTER Dekstop */
@media (max-width: 900px) {
  footer{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  footer{
    grid-template-columns: 1fr;
  }
}

/* Buttons */

button{
    border: 3px solid white;
    color: white;
    border-radius: 16px;
    background: #020659;
    padding: 6px 20px;
    font-size: 22px;
}

button:hover{
    border: 3px solid #020659;
    background: white;
    color: #020659;
    cursor: pointer;
}

/* Main area */

.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

main{
    width: 85%;
    font-family: Arial, Helvetica, sans-serif;
}


